@Model Book 

<div class="text-center">

    <h1 class="display-4">Welcome to Books Shope</h1>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            <a href="#" class="btn btn-primary">Add to card</a>
            <a href="#" class="btn btn-success">Buy Book</a>
        </div>
    </div>


</div>
