@model List<Book>

<div class="text-center">

    <h1 class="display-4">Welcome to Books Shope</h1>

    <hr style="margin: 20px 0px 20px 0px" />

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
        @foreach(var i in Model)
        {
            <div class="col">
                <partial name="_BookCardPartial" model="@i" />
            </div>                              
        }
    </div>
</div>
