@model ConfirmDialogViewModel

<div class="modal fade" id="@Model.DialogId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">@Model.Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Model.Message</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a class="actionBtn btn btn-@Model.Mode.ToString().ToLower()">Yes</a>
            </div>
        </div>
    </div>
</div>
