@model List<Order>

<div>

    <h1 class="display-4" style="text-align: center"  >Order List</h1>

    <hr style="margin: 20px 0px 20px 0px" />

    <ul class="list-group list-group">
        @foreach (var i in Model)
        {
            <li class="list-group-item">#@i.Id - @i.TotalPrice made by @i.User?.UserName - @i.OrderDate.ToString() </li> 
        }
    </ul>

</div>